<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
</head>
<body>

  <h1>Главная страница</h1>

  {% if image_path %}
    <img src="{{ url_for('static', filename='uploads/' + image_path) }}" alt="Загруженное изображение">
  {% else %}
    <p>Изображение не загружено</p>
  {% endif %}

  <br>
  <a href="{{ url_for('upload') }}">Перейти к загрузке изображений</a>

</body>
</html>
